<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
    <meta charset="utf-8">
    <title>Lance Powers</title>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="components/projects/projects.css">
    <link rel="stylesheet" type="text/css" href="components/footer/footer.css">
    <link rel="stylesheet" type="text/css" href="components/questions/questions.css">
    <link rel="stylesheet" type="text/css" href="components/experience/experience.css">


</head>

<body ng-controller="myController">
    <!--    BACKGROUND-->
    <img class="parallax fold-offset" src="img/downtownBkg.jpg" du-parallax y="background" alt="" />

    <!--    HEADER-->
    <div class="header" id="home"></div>
    <md-fab-toolbar class="main-menu" md-open="menu.isOpen" count="menu.count" md-direction="{{menu.selectedDirection}}">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-icon">
                <md-icon md-menu-origin md-svg-icon="img/menu-icon.svg" class="icon-48"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools" ng-class="{'open-menu': menu.isOpen}">
                <a class="header-text" ng-click="showFooter($event)">
                    <md-button>Contact</md-button>
                </a>
                <a class="header-text" href="//resume.creddle.io/resume/ikrgehkra1k">
                    <md-button>Resume</md-button>
                </a>
                <a class="header-text" href="#deliver">
                    <md-button>Background</md-button>
                </a>
                <a class="header-text" href="#develop">
                    <md-button>Projects</md-button>
                </a>
                <a class="header-text" href="#dream">
                    <md-button>About</md-button>
                </a>
                <a class="header-text" href="#home">
                    <md-button>Home</md-button>
                </a>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <!--    /HEADER-->



    <!--Title Content    -->
    <div layout="row" class="title-display" layout-md="column" layout-sm="column">
        <div flex="20" flex-offset-gt-md="30" flex-offset="10" class="md-display-4 name-display">Lance Powers</div>
        <div flex="20" class="slogan" layout="column" layout-align="center start">
            <md-button><a href="#dream">
                Dream</a>
            </md-button>
            <md-button><a href="#design">
                Design</a>
            </md-button>
            <md-button><a href="#develop">
                Develop</a>
            </md-button>
            <md-button><a href="#deliver">
                Deliver</a>
            </md-button>

        </div>
    </div>
    <!--/Title Content    -->

    <!--DREAM-->
    <div class="section-header">
        <a name="dream"></a>
        <br>
        <h3>Dream</h3>
    </div>

    <img class="parallax" src="img/congressBkg.jpg" du-parallax y="background" alt="" />

    <div class="section-body" layout="row">
        <questions flex></questions>
    </div>
    <!--/DREAM-->

    <!--DEVELOP-->
    <div class="section-header">
        <a name="develop"></a>
        <br>
        <h3>Develop</h3>
    </div>

    <img class="parallax" src="img/museumBkg.jpg" du-parallax y="background" alt="" />

    <div class="section-body" layout="row">
        <div flex></div>
        <projects flex class="primary-section"></projects>
        <div flex></div>
    </div>
    <!--/DEVELOP-->

    <!--DESIGN-->
    <div class="section-header">
        <a name="design"></a>
        <br>
        <h3>Design</h3>
    </div>
    <img class="parallax" ng-src="{{mountainBackground()}}" du-parallax y="background" alt="" />


    <div class="section-body" layout="column" layout-align="start center">
        <div layout="row" flex layout-align="start center">
            <div flex ng-repeat="icon in designIcons" layout="column" layout-align="center center">
                <a href="{{'http:'+icon.url}}">
                    <md-icon md-svg-src="{{icon.icon}}" ng-class="isColored.mountain ? 'light-icon-128':'icon-128'" class="icon-128" ng-mouseout="isColored.mountain=false" ng-mouseover="isColored.mountain=true"></md-icon>
                </a>
                <p ng-class="isColored.mountain ? 'light-title md-subhead':''">{{icon.title}}</p>
            </div>
        </div>
    </div>
    <!--/DESIGN-->


    <!--DELIVER-->
    <div class="section-header">
        <a name="deliver"></a>
        <br>
        <h3>Deliver</h3>
    </div>
    <img class="parallax" src="img/forestBkg.jpg" du-parallax y="background" alt="" />
    <experience></experience>
    <!--/DELIVER-->

    <!--    ANGULAR-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc5/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

    <!--PARALLAX-->
    <script src="//oblador.github.io/angular-scroll/0.6.2/angular-scroll.min.js"></script>
    <script src="//oblador.github.io/angular-parallax/angular-parallax.min.js"></script>

    <script type="text/javascript" src="components/components.module.js"></script>

    <script type="text/javascript" src="components/projects/projects.module.js"></script>
    <script type="text/javascript" src="components/projects/projects.directive.js"></script>

    <script type="text/javascript" src="components/questions/questions.module.js"></script>
    <script type="text/javascript" src="components/questions/questions.directive.js"></script>

    <script type="text/javascript" src="components/experience/experience.module.js"></script>
    <script type="text/javascript" src="components/experience/experience.directive.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="components/footer/footer.controller.js"></script>
    <script type="text/javascript" src="js/project.service.js"></script>
    <script type="text/javascript" src="js/culture.service.js"></script>
</body>

</html>