.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.projects {
    background-size: cover;
    background-position: center;
    /*    padding: 0px 400px 0px 400px;*/
    margin: 50px 0px 50px 0px;
}

.project-tiles {
    background-size: cover;
    background-position: center;
}

.project-dialog {
    max-width: 900px;
    background-color: rgba(255, 255, 255, .9);
    padding: 10px;
}

.project-dialog md-card {
    padding: 10px;
}

.tech-icon {
    max-height: 24px;
    max-width: 24px;
}

.transparent-content {
    background-color: transparent;
}

.card-media img {
    padding-top: 5%;
    max-height: 200px;
    max-width: 200px;
}

.tech-description {
    padding: 2%;
}

.tech-description p {
    color: #555;
}

.project-title h2 {
    font-weight: 300;
    padding-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}